<div class="container h-100">
  <div class="row justify-content-md-center">
    <div class="col-4">
      <div class="card text-white bg-danger mb-3">
        <div class="card-header">POPULAR NAME GENERATOR</div>
        <div class="card-body">
          <h5 class="card-title">{{ popularName[3] }}</h5>
          <p class="card-text">Click on buttons to generate name</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-2">
      <button type="button" class="btn btn-outline-danger btn-lg btn-block" (click)="generateName($event.target.textContent)">Female</button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-outline-danger btn-lg btn-block" (click)="generateName($event.target.textContent)">Male</button>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
